* { margin: 0; padding: 0; box-sizing: border-box; }
body{ font-family: "Lato", sans-serif; }

/* loader style start  */
.overlay { position: fixed; top: 0; left: 0; width: 100%; height: 100%; z-index: 13; background-color: #000c; bottom: 0; transition: opacity .3s ease; -moz-transition: opacity .3s ease; -ms-transition: opacity .3s ease; -o-transition: opacity .3s ease; -webkit-transition: opacity .3s ease; opacity: .6; display: none;}
.overlay.active{ display: block; }
.overlay_section{ overflow: hidden; }
.acoda-spinner{ position: fixed; top:0; left:0; z-index: 10; justify-content: center; align-items: center; display: none; width: 100%; height: 100vh; }
.rounded_loader{ width:80px; height:80px; }
/* loader style end  */


.error-message,.php-error-message{
    color: #ff0000;
    font-size: 14px;
}

/* Responsive tweaks */
@media screen and (max-width: 1920px) {

}

@media screen and (max-width: 1500px) {
    .sidebar{ width: 20%; }
}

@media screen and (max-width: 1240px) {


}
@media screen and (max-width: 1024px) {
    .sidebar.active{width: 60%; left: 0%; z-index: 13; transform: translateX(0);}
    .overlay{z-index: 10;}
}


@media screen and (max-width: 992px) {
    .sidebar.active{width: 80%;}
}

@media screen and (max-width: 767px) {
  .sidebar { width: 40%; }
}


@media screen and (max-width: 640px) {
    .sidebar { width: 80%; }
}

@media screen and (max-width: 479px) {
}

@media screen and (max-width: 389px) {

}